body {
    
    background-color: black;
    opacity: 0.9;
    color: seashell;
    font-size: 22px;
    font-family: Helvetica;
    text-align: center;
}

div {
    display:block;
}
header {
    display:flex;
    border-bottom:1px solid seashell;
    height:69px;
    align-items:center;
    justify-content:space-between;
    position:fixed;
    width:100%;
    z-index:1;
    
    
}
.logo {
     display:flex;
}
.logo img {
    height:50px;
    margin-left:10px;
   
}
    
nav {
    margin-right: 40px;
}
nav span {
     display:inline-block;
    margin-left:30px;
    
}

a { 
    color:inherit
}
    
#mission {
    background-image:url(../assets/img-mission-background.jpg);
    height: 700px;
}

#mission .content {
    margin:auto;
    background-color: black;
    width:100%;
    
}
.main {
    width: 1200px;
    margin: auto;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h2,h3,h4 {
    padding: 10px;
    margin:0;
}
.galleryitem img {
    height:200px;
    margin:10px;
    display:block;
    padding-bottom:10px;
}
.galleryitem {
    padding: 5px;
}

#locations {
    
    background-image:url(/assets/img-locations-background.jpg);
    height:500px;
    padding-top:10px;
    margin-top:50px;
    
    
}

.locationitem {
    width: 300px;
    margin-right:40px;
        margin-top:40px;
        opacity: 1;
    background-color:black;
    padding-bottom:50px;
    
}

.contact {
    height:200px;
}
.contact p {padding-top:20px}

.footer {
    text-align:left;
    padding-left:20px;
}